<!DOCTYPE html>
<html lang="en" ng-app="ninjaAppModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <script src="public/js/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <header ng-include="'views/header.html'"></header>
    <div class="content">
        <div ng-controller="NinjaController">
            <button ng-click="order = 'name'">Order by Name</button>
            <button ng-click="order = 'belt'">Order by Belt</button>
            <input type="text" ng-model="search" placeholder="Search for a ninja">
            <ul>
                <li ng-repeat="ninja in ninjas | orderBy: order | filter: search">
                    <h3>{{ninja.name}} - {{ninja.rate | currency: 'Rp'}}</h3>
                    <div class="remove" ng-click="removeNinja(ninja)">x</div>
                    <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>
                </li>
            </ul>

            <form ng-submit="addNinja()">
                <input type="text" placeholder="name" ng-model="newninja.name">
                <input type="text" placeholder="belt" ng-model="newninja.belt">
                <input type="text" placeholder="rate" ng-model="newninja.rate">
                <input type="submit" value="Add new Ninja">
            </form>
        </div>
    </div>
</body>
</html>