<!DOCTYPE html>
<html lang="en" ng-app="ninjaAppModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <script src="public/js/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <header ng-include="'views/header.html'"></header>
    <div class="content">
        <div ng-controller="NinjaController">
            <input type="text" ng-model="search" placeholder="Search for a ninja">
            <ul>
                <li ng-repeat="ninja in ninjas | orderBy: '-name' | filter: search" ng-show="ninja.available">
                    {{ninja.name}} - {{ninja.rate | currency: 'Rp'}}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>